<strong> Olá, {{ deliveryman }} </strong>
<p>Você tem uma nova encomenda para ser entregue</p>
<p>
    <strong> Criada em: </strong> {{ created_at }} <br />
    <strong> Produto: </strong> {{ product }} <br />
    <strong> Destinatário: </strong> {{ recipient }} <br />
    <strong> Dados do endereço:  </strong> <br />
    <strong> Rua: </strong> {{ street }}, {{ number }} <br />
    <strong> Complemento: </strong> {{ complement }} <br />
    <strong> Estado: </strong> {{ state }} <br />
    <strong> Cidade: </strong> {{ city }} <br />
    <strong> Código Postal: </stong> {{ zip_code }}
</p>
